<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- jQuery CDN (ajax 간편하게 사용하고자 불러옴) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <h1><%= title %></h1>
    <form name="register">
        <label for="name">이름</label>
        <input type="text" name="name" id="name">
        <br>
        <span>성별</span>
        <input type="radio" name="gender" id="male" value="남자">
        <label for="male">남자</label>
        <input type="radio" name="gender" id="female" value="여자">
        <label for="female">여자</label>
        <br>

       <button type="button" onclick="ajaxGet()">ajax GET 방식 요청</button> 
       <button type="button" onclick="ajaxPost()">ajax POST 방식 요청</button> 
    </form>

    <div class="result"></div>
</body>
</html>

<script>
    const resultBox =document.querySelector('.result');
    function ajaxGet() {
        console.log("ajaxGet() click");

        //폼 선택하기 
         const form = document.forms['register'];

        //폼 요소의 값을 추출하기 
        console.dir(form);
        console.dir(form.name); //이름 input 에 작성된 문자열
        console.dir(form.gender.value)  // 성별 input 이 선택된 값

        // 서버로 보낼 데이터 양식 선택하기 
        const data1={
            name : form.name.value,
            gender : form.gender.value
        }
        
       
        //ajax 비동기 통신(GET 방식) - (서버의 index.js 파일로 유저가 브라우저에 입력한 값을 보내기)
        $.ajax({
            type :'GET',
            url : '/ajax', //
            data : data1  , // data:data    value 의 data 는 위에 지정한 data 변수  // data={ name :form.name.value, gender : form.gender.value }
            success:function(data){
                console.log(data);
                resultBox.textContent = `GET /ajax 요청에 대한 응답 완료! \n ${data1.name} 님은 ${data1.gender} 이다.`;
                resultBox.style.color = 'blue';
            }
        })

    }

    function ajaxPost() {
        console.log("ajaxPost() clicked");
        const form = document.forms['register'];

        const data = {
            name : form.name.value,
            gender  : form.gender.value
        };
        $.ajax({
            type:"post",
            url : "/ajax",
            data,
            success:function(data){
                console.log(data);
                resultBox.textContent = `POST /ajax 요청에 대한 응답 완료! \n ${data.name} 님은 ${data.gender} 이다.`;
                resultBox.style.color = 'green';
            }
            
        })
    }

</script>