/* 
 - animation-name :@keyframes 애니매니션 이름 지정
 - 시작 : from or 0%
 - 중간 : 0~100%
 - 끝 : to or 100%

 - animation-duration : 애니매이션이 한 번 재생되는데 걸리는 시간을 지정 (단위 :s)
 - animation-delay : 애니매이션이 시작 되기 전에 기다리는 시간을 지정 (단위 :s)
 - animatin-iteration-count : 애니메이션 반복 횟수(default :1 ,infinite:무한반복)
    - linear, ease, ease-in, ease-out, ease-in-out....
 - animation-direction :애니메이션의 방향을 지정
    - normal,rever , alternate , alternate-reverse
    - alternate : from ->to 방향으로 애니메이션 진행 ->
*/

.box{
   width: 100px;
   height: 100px;
   background-color: cyan;
   position: relative;
   animation-name: ani;
   animation-duration:1s;
   animation-delay:1s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;

}
/* ani : animation 의 이름임. */
@keyframes ani {
   0%{
      left:0px;
   }
   25%{
      left:200px;
   }
   50%{
      left:400px;
   }
   75%{
      left:200px;
   }
   100%{
      left:0px;
   }
}

.bounce-ball1{
   position: relative;
   width: 100px;
   height:100px;
   background-color: black;
   border-radius: 50%;
   left : 100px;
   top:0;
   /* animation-name: b1;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   animation-iteration-count: infinite;
   animation-direction: alternate; */
   animation: b1 1s ease-out infinite alternate ;

}
@keyframes b1{
   to{
      top:50px;
   }
   from{
      top:300px;
   }

}
.bounce-ball2{
   width: 50px;
   height: 50px;
   background-color: tomato;
   border-radius: 50%;
   position: absolute;
   animation-name: auto;
   animation-iteration-count: infinite;
   animation-duration: 2s;
}
@keyframes auto {
   from,to{
      bottom:0px;
      animation-timing-function: ease-out;
      /* 0px 에서 정상속도로 시작 ->속도 줄이면서 300px 됨. */
   }
      50%{
         bottom: 300px;
         animation-timing-function:ease-in;
         /* 300px에서 천천히 시작되어 0px로 가면서 정상속도로 끝 */
      }
}
/* tip)
   from 에서 to 로의 애니메이션 (정방향 애니메이션) (from~to)

   - from은 애니메이션의 시작 상태를 나타냅니다.
   - to는 애니메이션의 종료 상태를 나타냅니다.
   이러한 경우 애니메이션은 from 상태에서 시작하여 to상태로 종료함.

   * to ->from (역방향 애니매이션)
   - to 는 애니메이션의 시작상태를 나타냄.
   - from 은 애니메이션의 종료 상태를 나타냄.
   - to~from 순으로 진행됨
*/
