.square{
    width:100px;
    height: 100px;
    border :1px solid black;
    text-align: center;
    line-height: 100px;
    /* 수직정렬 방법 중 하나 
    텍스트가 한 줄 일떄, 요소의 height 와 line-height 가 일치하면 수직 정렬이 된다.
    */
}
.d-none{
    background-color: blue;
    /* display: none; */
}
.invisible{
    /* visibility: hidden; */
    background-color: lightskyblue;
}
.opacity-0{
    opacity: 0.5;
    background-color: lightcyan;
}
