<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="/static/static_user.js"></script> -->
  </head>
  <body>
    <h3>회원정보</h3>
    <a href="/user">홈으로 돌아가기</a><br /><br />
    <form action="form_userInfo">
      <label for="userid">ID</label>
      <input type="text" name="userid" disabled /><br />
      <label for="pw">Password</label>
      <input type="text" name="pw" /><br />
      <label for="name">Name</label>
      <input type="text" name="name" /><br />
      <!-- <button type="button" onclick="editProfile();">Edit</button>
      <button type="button" onclick="deleteUser();">Delete</button> -->
    </form>
  </body>
</html>
