<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>회원 가입 안내</h1>
    
        <form name="form_signup">
            <fieldset>
                <label for="userid">ID</label>
                <input type="text" id="userid" name="userid" required><br>
                <label for="password">Password</label>
                <input type="text" id="password" name="pw" required><br>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required><br>
            
            <button type="button" onclick="createUser();">Register</button>
            </fieldset>
    </form>
    <a href="/user/signin">Login</a>
    <script src="/static/static_user.js"></script>
</body>
</html>