<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <div class="content">
        <form action="">
            <label for="title">Blog Title : </label>
            <input type="text" id="title"> <br>
            
            <label for="snippet">Blog snippet : </label>
            <input type="text" id="snippet"> <br>

            <label for="contents">Blog contents : </label>
            <textarea name="" id="contents" cols="30" rows="10" required> </textarea> 
            <br>
            <button>Submit</button>
        </form>
    </div>
   
    <%- include('./partials/footer.ejs')%>
</body>
</html>