.Box {
    border: 2px solid blue;
    margin :20px;
}
.Box2 {
    border: 2px solid red;
    margin :20px;   
}
.Box3 {
    border: 2px solid pink;
    margin :20px;   
}
.Box4 {
    border: 2px solid skyblue;
    margin :20px;   
}