<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/thumbnail.js"></script>
    <link rel="stylesheet" href="/static/css/thumbnail.css">
</head>

<body>
    <h1>
        <%=title %>
    </h1>
    <h2>Single file upload</h2>
    <!-- multer 이용 시, 반드시 enctype="multipart/form-data" 의 폼이어야 함!! -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="userfile" id="">
        <input type="text" name="title" id=""><br>
        <button type="submit">Single file 업로드</button>
    </form>
    <hr>
    <!-- multi file upload case1 -->
    <h2>Multi file upload</h2>
    <form action="/upload/array" method="post" enctype="multipart/form-data">

        <input type="file" name="userfiles" multiple>
        <input type="text" name="title"><br>
        <button type="submit">Multi file 업로드</button>
    </form>
    <hr>
    <!-- multi file upload case2 -->
    <h2>Multi file upload</h2>
    <form action="/upload/fields" method="post" enctype="multipart/form-data">

        <input type="file" name="kiwi" >
        <input type="text" name="title1"><br>
        <input type="file" name="orange" >
        <input type="text" name="title2"><br>
        <button type="submit">Multi2 file 업로드</button>
    </form>

    <br><br>
    <h2>동적 파일 업로드</h2>
    <input type="file" name="thumbnail" id="thumbnail">
    <button type="button" onclick="uploadThumbnail()">동적 파일  업로드</button>
    <img class="thumbnail" src="" alt="">
</body>

</html>