<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <nav>
        <div><a href="/">
            <h1>My Blog</h1>
        </a></div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>
    <h1>HOME</h1>

    <!-- <%= 10-2 %>
    <%= true?"true" : "false" %>
    
    <%# node.js 에서 반복문을 쓸 때에는 줄자체를 괄호로 감싸주어야 한다. %>
    <%# js가 실행되는 문에서 사용해야한다. %>

    <% for(var i=0;i<5;i++){ %>
        <h1>hello</h1>
    <% } %> -->
</body>
</html>