// scss 파일명 앞의 _ : css파일로 변환될 필요가 없음을 의미한다.

$color-first : red;
$color-second : orange;
$color-third : yellow;
$animation-duration :0.4s;

$breakpoint-sm:360px;



// lms -quiz2
$c-first:pink;
$c-second:yellow;
$c-third:green;